---
layout: internal
---

<!-- MAIN -->
<div class="columns">
    <main class="main">

        <div class="section">
            {{ content }}
        </div>

        <br>

        <!-- Tabs for mobile / tablet -->
        <div class="hide-for-large-up" aria-hidden="true">
            <dl class="tabs" data-tab>
                <dd class="list-view active"><a href="#panel1"><span class="text"><i class="icon-align-left"></i>&nbsp; List View</a></span></dd>
                <dd class="map-view"><a href="#panel2"><span class="text"><i class="icon-map-marker"></i>&nbsp; Map View</a></span></dd>
            </dl>
            <div class="tabs-content">
                <div class="content active" id="panel1">
                    {% include accordion.html %}
                </div>
                <div class="content" id="panel2">
                    {% include google_map.html %}
                </div>
            </div>
        </div> <!-- .hide-for-small -->

        <!-- Map displayed on side in desktop -->
        <div class="row show-for-large-up">
            <div class="large-6 columns">
                {% include accordion.html %}
            </div> <!-- .columns -->
            <div class="large-6 columns">
                {% include google_map.html %}
            </div> <!-- .columns -->
        </div> <!-- .row -->

    </main> <!-- .main -->
</div> <!-- .columns -->