<div class="footer-body">
    <div class="row outer-row">
        <div class="medium-8 medium-push-4 large-9 large-push-3 columns">
            <ul class="sponsor-list small-block-grid-3 medium-block-grid-4 large-block-grid-8">
                <li><a href="#"><span class="img"><img src="{{ "/img/template/sp-1.png" | prepend: site.assets }}" alt=""></span></a></li>
                <li><a href="#"><span class="img"><img src="{{ "/img/template/sp-2.png" | prepend: site.assets }}" alt=""></span></a></li>
                <li>
                    <ul class="medium-block-grid-1">
                        <li><a href="#"><span class="img"><img src="{{ "/img/template/sp-3.png" | prepend: site.assets }}" alt=""></span></a></li>
                        <li><a href="#"><span class="img"><img src="{{ "/img/template/sp-4.png" | prepend: site.assets }}" alt=""></span></a></li>
                    </ul>

                </li>
                <li><a href="#"><span class="img"><img src="{{ "/img/template/sp-5.png" | prepend: site.assets }}" alt=""></span></a></li>
                <li><a href="#"><span class="img"><img src="{{ "/img/template/sp-6.png" | prepend: site.assets }}" alt=""></span></a></li>
                <li><a href="#"><span class="img"><img src="{{ "/img/template/sp-7.png" | prepend: site.assets }}" alt=""></span></a></li>
                <li><a href="#"><span class="img"><img src="{{ "/img/template/sp-8.png" | prepend: site.assets }}" alt=""></span></a></li>
                <li><a href="#"><span class="img"><img src="{{ "/img/template/sp-9.png" | prepend: site.assets }}" alt=""></span></a></li>
            </ul>
        </div> <!-- .columns -->
        <div class="medium-4 medium-pull-8 large-3 large-pull-9 columns">
            <h3>SA Water VACSWIM</h3>
            <p>
                <strong>Ph:</strong> {{ site.data.settings.phone }} <br>
                <strong>Fax:</strong> {{ site.data.settings.fax }} <br>
                <strong>Email:</strong> <a href="mailto:{{ site.data.settings.email }}">{{ site.data.settings.email }}</a>
            </p>
        </div> <!-- .columns -->
    </div> <!-- .row -->
</div> <!-- .footer-body -->

<div class="footer-bottom">
    <div class="row outer-row">
        <div class="small-4 columns text-left">
            <p><a href="/privacy-policy/">Privacy Policy</a></p>
        </div>
        <div class="small-8 columns text-right">
            <p>
            <a class="author-logo" href="http://www.muchmedia.com.au">
                <span class="text">Website by Much Media</span>
                <img width="21" src="{{ "/img/template/muchmedia-logo.png" | prepend: site.assets }}" title="Much Media Freelance Web Design" alt="Much Media">
            </a>
            </p>
        </div>
    </div>
</div> <!-- .footer-bottom -->

{% comment %}

<style>

/* ------------------------------------------------------------ */
/* Sponsor List
/* ------------------------------------------------------------ */

ul.sponsor-list {
    list-style: none;
    /*background: aqua;*/
    width: 100%;
    overflow: hidden;
    margin: 30px 0 0 0;
}

ul.sponsor-list li {
    display: inline-block;
    float: left;
    margin-right: 3px;
    padding: 0; /* reset */
}

ul.sponsor-list a {
    display: table;
    height: 90px;
    background: white;
    /*background: aqua;*/
}

ul.sponsor-list .img {
    display: table-cell;
    vertical-align: middle;
}

/* Stacked Mix1023 and Nine Logo */

ul.sponsor-list .stacked {
    width: 100px;
    height: 90px;
    text-align: center;
}

ul.sponsor-list .stacked a {
    height: 40px;
    display: block;
    text-align: center;
}

ul.sponsor-list .stacked .img {
    display: block;
}

/* ------------------------------------------------------------ */
/*
/* ------------------------------------------------------------ */
</style>

{% endcomment %}