{% assign settings = site.data.settings %}

<div class="footer-body">
    <div class="row outer-row">
        <div class="large-9 large-push-3 columns">

            <!-- SPONSORS -->
            <div class="footer-body-sponsors text-center medium-text-left">

                <!-- GROUP 1 -->
                <div class="sponsors-group-1">
                    <h3>Naming rights partner</h3>
                    <a target="_blank" class="sp-1" href="https://www.sawater.com.au/"><img src="/img/template/sa-water-logo-01.png" alt="Funded by Government of SA"></a>
                    <div class="footer-body-spacer hide-for-medium-up"></div>
                </div>

                <!-- GROUP 2 -->
                <div class="sponsors-group-2">
                    <h3>Media Partners</h3>
                    <a target="_blank" class="sp-2" href="http://enventive.com.au"><img src="/img/template/enventive-logo.png" alt="Eventive"></a>
                    <a target="_blank" class="sp-3" href="http://www.lifebeinitsa.org"><img src="/img/template/life-be-in-it.png" alt="Life. Be in it."></a>
                    <a target="_blank" class="sp-3a" href="https://www.fritzmag.com.au"><img src="/img/template/fritz-logo.png" alt="Fritz Magazine"></a>
                    <!-- <a target="_blank" class="sp-3" href="http://www.9news.com.au/"><img src="/img/template/nine-logo.png" alt="Nine Network"></a> -->
                    <div class="footer-body-spacer hide-for-medium-up"></div>
                </div>

                <!-- GROUP 3 -->
                <div class="sponsors-group-3">
                    <h3>Program providers</h3>
                    <a target="_blank" class="sp-4" href="http://surfrescue.com.au/"><img src="/img/template/slssa-portrait.png" alt="Surf Life Saving South Australia"></a>
                    <a target="_blank" class="sp-5" href="http://www.royallifesavingsa.com.au/"><img src="/img/template/rlssa-logo.png" alt="Royal Life Saving"></a>
                    <a target="_blank" class="sp-6" href="http://www.sa.ymca.org.au/"><img src="/img/template/ymca-logo-3.png" alt="YMCA"></a>
                    <div class="footer-body-spacer hide-for-medium-up"></div>
                </div>

                <!-- GROUP 5 -->
                <div class="sponsors-group-4">
                    <h3>Funded by</h3>
                    <a target="_blank" class="sp-7" href="https://www.recsport.sa.gov.au/"><img src="/img/template/ocrs-logo.png" alt="Rec Sport SA"></a>
                    <div class="footer-body-spacer hide-for-medium-up"></div>
                </div>

            </div> <!-- .footer-body-sponsors -->

            {% comment %}
            <!-- Image Map - Hardcoded - Yehaw -->
            <div class="show-for-large-up" aria-hidden="true">
                <img id="Image-Maps-Com-image-maps-2014-09-29-012554" src="{{ "/img/template/sponsor-logos-all.png" | prepend: site.assets }}" border="0" width="728" height="114" orgWidth="728" orgHeight="114" usemap="#image-maps-2014-09-29-012554" alt="" />
                <map name="image-maps-2014-09-29-012554" id="ImageMapsCom-image-maps-2014-09-29-012554">
                    <area alt="Funded by Government of SA" href="http://www.sawater.com.au/" shape="rect" coords="0,0,162,114" style="outline:none;" target="_blank">
                    <area alt="Royal Life Saving" href="http://www.royallifesavingsa.com.au/" shape="rect" coords="161,0,252,114" style="outline:none;" target="_blank">
                    <area alt="Mix 102.3" href="http://www.mix1023.com.au/" shape="rect" coords="255,0,329,36" style="outline:none;" target="_blank">
                    <area alt="Channel 9" href="http://channelnine.ninemsn.com.au/" shape="rect" coords="255,38,327,114" style="outline:none;" target="_blank">
                    <area alt="Chemplus" href="http://www.chemplus.com.au/" shape="rect" coords="328,0,413,114" style="outline:none;" target="_blank">
                    <area alt="Express Mobile Services" href="http://www.expressmobileservices.com.au/" shape="rect" coords="413,0,501,114" style="outline:none;" target="_blank">
                    <area alt="Surf Life Saving South Australia" href="http://surfrescue.com.au/" shape="rect" coords="501,0,594,114" style="outline:none;" target="_blank">
                    <area alt="YMCA" href="http://www.sa.ymca.org.au/" shape="rect" coords="594,0,652,114" style="outline:none;" target="_blank">
                    <area alt="Rec Sport SA" href="https://www.recsport.sa.gov.au/" shape="rect" coords="652,0,728,114" style="outline:none;" target="_blank">
                </map>
            </div> <!-- .show-for-large-up -->

            <!-- Switch to Block Grid Goodness for Medium Down (Hardcoded) -->
            <ul class="sponsor-list small-block-grid-3 medium-block-grid-4 large-block-grid-8 hide-for-large-up">
                <li><a target="_blank" href="http://www.royallifesavingsa.com.au/"><span class="img"><img src="{{ "/img/template/sp-1.png" | prepend: site.assets }}" alt="Funded by Government of SA"></span></a></li>
                <li><a target="_blank" href="http://www.royallifesavingsa.com.au/"><span class="img"><img src="{{ "/img/template/sp-2.png" | prepend: site.assets }}" alt="Royal Life Saving"></span></a></li>
                <li>
                    <ul class="medium-block-grid-1">
                        <li><a href="http://www.mix1023.com.au/"><span class="img"><img src="{{ "/img/template/sp-3.png" | prepend: site.assets }}" alt="Mix 102.3"></span></a></li>
                        <li><a href="http://channelnine.ninemsn.com.au/"><span class="img"><img src="{{ "/img/template/sp-4.png" | prepend: site.assets }}" alt="Channel 9"></span></a></li>
                    </ul>
                </li>
                <li><a target="_blank" href="http://www.chemplus.com.au/"><span class="img"><img src="{{ "/img/template/sp-5.png" | prepend: site.assets }}" alt="Chemplus"></span></a></li>
                <li><a target="_blank" href="http://www.expressmobileservices.com.au/"><span class="img"><img src="{{ "/img/template/sp-6.png" | prepend: site.assets }}" alt="Express Mobile Services"></span></a></li>
                <li><a target="_blank" href="http://surfrescue.com.au/"><span class="img"><img src="{{ "/img/template/sp-7.png" | prepend: site.assets }}" alt="Surf Life Saving South Australia"></span></a></li>
                <li><a target="_blank" href="http://www.sa.ymca.org.au/"><span class="img"><img src="{{ "/img/template/sp-8.png" | prepend: site.assets }}" alt="YMCA"></span></a></li>
                <li><a target="_blank" href="https://www.recsport.sa.gov.au/"><span class="img"><img src="{{ "/img/template/sp-9.png" | prepend: site.assets }}" alt="Rec Sport SA"></span></a></li>
            </ul>
            {% endcomment %}

        </div> <!-- .columns -->
        <div class="large-3 large-pull-9 columns">
            <h3 class="underline">SA Water VACSWIM</h3>
            <p>
                <strong>P</strong> <a href="mailto:{{ settings.phone }}">{{ settings.phone }}</a> <br>
                <strong>F</strong> <a href="mailto:{{ settings.fax }}">{{ settings.fax }}</a> <br>
                <!-- <strong>Email:</strong> <a href="mailto:{{ settings.email }}">{{ settings.email }}</a> -->
            </p>
            {% include social_networks.html %}
        </div> <!-- .columns -->
    </div> <!-- .row -->
</div> <!-- .footer-body -->

<div class="footer-bottom">
    <div class="row outer-row">
        <div class="small-5 columns text-left">
            <p><a href="/privacy-policy/">Privacy Policy</a> | <a href="/sitemap/">Sitemap</a></p>
        </div>
        <div class="small-7 columns text-right">
            <p>
            <a class="author-logo" href="http://www.muchmedia.com.au">
                <span class="text">Website by Much Media</span>
                <img width="21" src="{{ "/img/template/muchmedia-logo.png" | prepend: site.assets }}" title="Much Media Freelance Web Design" alt="Much Media">
            </a>
            </p>
        </div>
    </div>
</div> <!-- .footer-bottom -->