{% comment %}
    IGNORE THIS COMMENT: Interchange code reference for dev self:
    <img width="200" data-interchange="[/ImageGen.ashx?width=200&image=@logo.Url, (default)], [@logo.Url, (retina)]" alt="@logo.Name">
{% endcomment %}

{% assign settings = site.data.settings %}
{% assign logo = "/img/content/logo@2x.png" %}

<div class="row outer-row">
    <div class="medium-6 columns">
        <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
        <img src="/img/content/logo@2x.png" alt="{{ settings.company_title }}" itemprop="logo"></a>
    </div>
    <div class="medium-6 columns text-right show-for-large-up">

        {% if page.url == "/" %}
            <ul class="social-networks">
                <li class="facebook"><a href="{{ settings.facebook }}"><span><i class="icon-facebook"></i></span></a></li>
                <li class="twitter"><a href="{{ settings.twitter }}"><span><i class="icon-twitter"></i></span></a></li>
            </ul>
        {% else %}
            <h3 class="header-tagline">Waterproof <span class="header-tagline-bold-text">Confidence</span></h3>
        {% endif %}

        {% comment %}
            <a class="affiliate-logo" href="/" title="{{ settings.affiliate_logo }}" target="_blank">
            <img width="72" src="{{ settings.affiliate_logo | prepend: site.assets }}" alt="..."></a>
        {% endcomment %}
    </div>
</div>

<!-- Important: Hamburger outside of row -->
<a href="#" class="hamburger hide-for-large-up"><span></span></a>