{% assign settings = site.data.settings %}
{% comment %}
Trigger Example:
<a href="#" data-reveal-id="client-login-modal">Launch Modal</a>
{% endcomment %}

<!-- NEWSLETTER MODAL -->
<div id="join-newsletter-modal" class="reveal-modal" data-reveal aria-labelledby="join-newsletter-modal-modal-title" aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns">

            <div class="modal-header">
                <img width="590" src="/img/template/newsletter-modal-header.png" alt="SA">
                <h2 class="text-right" id="join-newsletter-modal-title"><b>2017/18 Newsletter</b></h2>
            </div>

            <section class="modal-body">
                <div class="row">
                    <div class="medium-10 xlarge-12 columns">
                        <form data-abide  novalidate action="..." method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                            <div class="row">

                                <!-- First Name -->
                                <div class="xlarge-3 columns">
                                    <label>
                                        <input type="text" value="" name="FNAME" class="" placeholder="First Name" id="mce-FNAME" required>
                                    </label>
                                    <small class="error">Your first name is required.</small>
                                </div>

                                <!-- Last Name -->
                                <div class="xlarge-3 columns">
                                    <label>
                                        <input type="text" value="" name="LNAME" class="" placeholder="Last Name" id="mce-LNAME" required>
                                    </label>
                                    <small class="error">Your last name is required.</small>
                                </div>

                                <!-- Password -->
                                <div class="xlarge-4 columns">
                                    <label>
                                        <input type="email" value="" name="EMAIL" placeholder="Email" id="mce-EMAIL" required>
                                    </label>
                                    <small class="error">Your email is required.</small>
                                </div>

                                <!-- Submit -->
                                <div class="xlarge-2 columns">
                                    <button type="submit" name="subscribe" class="button">Sign up</button>
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                            </div>
                        </form>
                    </div> <!-- .columns -->
                </div> <!-- .row -->
            </section> <!-- .modal-body -->

        </div> <!-- .columns -->
    </div> <!-- .row -->
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div> <!-- reveal-modal -->