/*
    FOOTER.CSS

    - Last updated: 14.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.footer {
	a {
		color: $tertiary-color;

		&:hover {
			color: darken($tertiary-color, 10%);
		}
	}

	//=========================================
	// Footer Body
	//=========================================

	.footer-body {
	    padding: rem-calc(40 0 30 0);
	    background: white;
	    color: $tertiary-color;

	    h3 {
	    	font-weight: bold;
			padding-bottom: rem-calc(10);
			margin-bottom: rem-calc(20);
		}

		h3.underline {
			border-bottom: 1px solid $tertiary-color;
		}
	}

	//=========================================
	// Footer Body Spacer
	//=========================================

	.footer-body-spacer {
		margin-bottom: rem-calc(30);
	}

	//=========================================
	// Footer Bottom
	//=========================================

	.footer-bottom {
		// position: relative;
		background: $silk;
		padding: rem-calc(15 0);

		@media #{$large-up} {
			z-index: 1;
		}

		//=========================================
		// BLEED TO BOTTOM
		//=========================================

		&:after {
			content: "";
			position: fixed;
			left: 0;
			width: 100%;
			height: 100%;
			background: inherit;
			z-index: -1;
		}

		//=========================================
		//
		//=========================================

		p {
			margin-bottom: 0;
			font-size: rem-calc(12);
		}

		a {
			color: lighten($body-font-color, 10%);

			&:hover {
				color: $body-font-color;
			}
		}
	}
}

//-----------------------------------------------------------------
// Author Logo
//-----------------------------------------------------------------

.footer .author-logo {
	display: inline-block;
	color: #b3b2b2;

	.text {
		position: relative;
		display: inline-block;
		top: rem-calc(2);
		margin-right: rem-calc(5);
	}
}

//-----------------------------------------------------------------
// Groups
//-----------------------------------------------------------------

.sponsors-group-1,
.sponsors-group-2,
.sponsors-group-3,
.sponsors-group-4 {
	.is-invisible {
		visibility: hidden;
	}

	img {
		vertical-align: top;
		padding-bottom: rem-calc(10);
	}

	@media #{$medium-up} {
	    float: left;
	}
}

//-----------------------------------------------------------------
// GROUP 1
//-----------------------------------------------------------------

.sponsors-group-1 {
	padding: rem-calc(0 30);

	@media #{$medium-up} {
	    width: 35%;
	}
	@media #{$xlarge-up} {
		width: 27%;
	}
}

//-----------------------------------------------------------------
// GROUP 2
//-----------------------------------------------------------------

.sponsors-group-2 {
	padding: rem-calc(0 30);

	img {
		vertical-align: middle;
	}

	@media #{$medium-up} {
	    width: 20%;
	}
	@media #{$xlarge-up} {
		width: 30%;
	}
}

//-----------------------------------------------------------------
// GROUP 3
//-----------------------------------------------------------------

.sponsors-group-3 {
	@media #{$medium-up} {
	    width: 30%;
	}
	@media #{$xlarge-up} {
		width: 30%;
	}
}

//-----------------------------------------------------------------
// GROUP 4
//-----------------------------------------------------------------

.sponsors-group-4 {
	@media #{$medium-up} {
	    width: 15%;
	}
	@media #{$xlarge-up} {
		width: 10%;
	}
}

//-----------------------------------------------------------------
// Footer Body Sponsors
//-----------------------------------------------------------------

.footer-body-sponsors {
	@media #{$large-up} {
	    float: right;
	}

	// LEFT PADDING
	@media #{$xlarge-up} {
	    padding-left: rem-calc(50);
	}
}

//-----------------------------------------------------------------
// Images - Granular Control
//-----------------------------------------------------------------

.footer-body-sponsors {

	//================================================
	// GROUP 1 IMAGE
	//================================================

	.sp-1 img {
		width: rem-calc(260);

		@media #{$medium-up} {
		    width: 100%;
		}
	}
	//================================================
	// GROUP 2 IMAGES
	//================================================

	.sp-2 img {
		width: rem-calc(60);
		margin: 0 10px 10px 0;

		@media #{$medium-up} {
		    width: rem-calc(44);
		}
	}
	.sp-3 img {
		width: rem-calc(60);
		margin: 0 10px 10px 0;

		@media #{$medium-up} {
		    width: rem-calc(50);
		}
	}

	.sp-3a img {
		width: rem-calc(60);
		margin: 0 10px 10px 0;

		@media #{$medium-up} {
		    width: rem-calc(50);
		}
	}

	.sp-3b img {
		width: rem-calc(120);
		margin: 0 10px 10px 0;

		@media #{$medium-up} {
		    width: rem-calc(100);
		}
	}

	//================================================
	// GROUP 3 IMAGES
	//================================================

	.sp-4 img {
		width: rem-calc(50);

		@media #{$large-up} {
		    width: rem-calc(50);
		}
	}
	.sp-5 img {
		width: rem-calc(120);

		@media #{$large-up} {
		    width: rem-calc(100);
		}
	}
	.sp-6 img {
		width: rem-calc(50);

		@media #{$large-up} {
		    width: rem-calc(50);
		}
	}
	//================================================
	// GROUP 4 IMAGE
	//================================================

	.sp-7 img {
		width: rem-calc(90);

		@media #{$large-up} {
		    width: 100%;
		}
	}
}