/*
    HEADER.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header Wrapper (Control over Header AND Navigation)
//-----------------------------------------------------------------

.header-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: $vertical-spacing solid $primary-color; //#37585D;
	z-index: 10;

	// fixes iOS9 repaint bug
	// http://stackoverflow.com/questions/9807620/ipad-safari-scrolling-causes-html-elements-to-disappear-and-reappear-with-a-dela
	-webkit-transform: translate3d(0,0,0);

	&.is-fixed {
		position: fixed;
		top: -20px;
		// border-bottom: 1px solid #eee;
		box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);


		@media #{$large-up} {
		    border-top: 0;
		    top: 0;
		}
	}

	@media #{$large-up} {
		border-color: transparent;
	}
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.header {
	position: relative;
	height: $header-height-tiny;
	background: $header-background-color;

	@media #{$medium-up} {
	    height: $header-height-large;
	}

	@media #{$large-up} {
		// box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
	}
}

//-----------------------------------------------------------------
// Logo
//-----------------------------------------------------------------

.header .logo {
	position: relative;
	top: rem-calc(15);

	@media #{$medium-up} {
	    top: rem-calc(20);
	}

	img {
		width: rem-calc(145); //rem-calc(175);

		@media #{$medium-up} {
			// width: rem-calc(210);
			width: rem-calc(300);
		}

		@media #{$large-up} {
			// width: rem-calc(268);
			width: rem-calc(340);
		}
	}

	@media #{$medium-up} {
		top: rem-calc(25);
	}

	@media #{$large-up} {
		top: rem-calc(20);
	}
}

//-----------------------------------------------------------------
// Tagline
//-----------------------------------------------------------------

.header-tagline {
	position: relative;
	top: 49px;
	font-size: rem-calc(25);
	line-height: 1;

	.header-tagline-bold-text {
		display: block;
		font-size: rem-calc(30);
		font-weight: bold;
		color: $quaternary-color;
	}
}

//=========================================
// Affiliate Logo (old)
//=========================================

.header .affiliate-logo {
	position: relative;
	top: rem-calc(26);
}

//-----------------------------------------------------------------
// Hamburger
//-----------------------------------------------------------------

.hamburger {
	box-sizing: content-box;
	position: absolute;
	// visibility: hidden;
	bottom: -13px; /* magic num */
	right: -15px;
	display: block;
	width: rem-calc(28);
	height: rem-calc(24);
	margin: rem-calc(30);
	z-index: 2;

	background: white;
	border: 8px solid white;
	border-radius: 3px;
	cursor: pointer;

	@media #{$medium-up} {
		bottom: 3px;
	}

	&:active {
		background: #eee;
		border: 8px solid #eee;
	}
}

.hamburger:before,
.hamburger:after,
.hamburger span {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: rem-calc(4);
	background: $dark-green;
}
.hamburger:before {
	top: 0;
}
.hamburger:after {
	bottom: 0;
}
.hamburger span {
	top: 50%;
	margin-top: rem-calc(-2);
}

html.mm-opening .hamburger:before,
html.mm-opening .hamburger:after {
	display: none;
}

.mm-opening .hamburger {
	background: #eee;
	border: 8px solid #eee;
}

//=========================================
//
//=========================================