/*
    STAGE.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.homepage,
.internal {
	padding-top: $header-height-tiny + $vertical-spacing;

	@media #{$medium-up} {
	    padding-top: $header-height-medium + $vertical-spacing;
	}

	@media #{$large-up} {
	    padding-top: 0;
	}
}

.internal {
	@media #{$large-up} {
		padding-top: $header-height-medium + $vertical-spacing;
	}
}

//-----------------------------------------------------------------
// Content
//-----------------------------------------------------------------

.homepage .main {
	padding: rem-calc(50 0);
	background: $primary-color;

	@media #{$large-up} {
	    padding: rem-calc(40 0);
	}

	@media #{$large-up} {
		background: rgba($primary-color, .8);
		margin-bottom: rem-calc(45);
	}

	p {
		color: white;
		margin: 0;
	}

	a {
		@include transition();
		color: #09D6E1;

		&:hover {
			color: darken(#09D6E1, 5%);
		}
	}
}

.internal .main {
	margin-bottom: rem-calc(50);
}

//=========================================
//
//=========================================