/*
    VARIABLES.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables
//-----------------------------------------------------------------

// $header-height-small: rem-calc(70);
// $header-height-medium: rem-calc(109);
// $header-height-large: rem-calc(133);

$header-height-tiny: rem-calc(70);
$header-height-small: rem-calc(109);
$header-height-medium: rem-calc(133);
$header-height-large: rem-calc(133);

$header-background-color: white;
$navigation-height: rem-calc(60);
$banner-background-color: #1B9AED;
$banner-button-background-color: $button-bg-color;
$footer-height: rem-calc(74);
$page-padding: rem-calc(40);
$dark-green: #041B20;
$vertical-spacing: rem-calc(20);

//=========================================
//
//=========================================