---
layout: master
banner_header: "SA Water VACSWIM is a South Australian Government funded program for primary school aged children"
banner_link: /vacswim-locations/
---

{% assign settings = site.data.settings  %}
{% assign news = site.pages | where: "type", "news_item" %}

<div class="homepage">

	<div class="header-wrapper FixedTop">

	    <!-- HEADER -->
	    <header class="header">
	        {% include header.html %}
	    </header>

	    <!-- NAVIGATION -->
	    <nav class="navigation show-for-large-up">
	        <div class="row collapse outer-row">
	            <div class="columns">
	                <div class="topbar">
	                    {% include navigation.html %}
	                </div>
	            </div>
	        </div>
	    </nav> <!-- .navigation -->

	</div> <!-- .header-wrapper -->

	<!-- HEADER TAGLINE (MOBILE) -->
	<div class="row outer-row show-for-medium-down header-message-mobile">
		<div class="columns">
			<h3><i class="fa fa-exclamation-circle"></i> {{ settings.header_tagline }}</h3>
		</div>
	</div>

	<!-- HERO -->
	<div class="hero">

		{% include hero.html %}

		<!-- MAIN -->
		<main class="main">

			<div class="row outer-row">
				<div class="medium-7 columns">
					<p style="font-size: 1.5rem;">SA Water VACSWIM is a government funded initiative that has been providing South Australian primary school children with water knowledge for over 50 years.</p>
					<!-- <p>The main SA Water Vacswim 2017 program will kick off on Tuesday 3rd January 2017 around South Australia and online enrolments will open on Thursday 1st September 2016. Until 2017 location dates are confirmed you can use 2016 as a general guide. Be sure to check the <a href="/vacswim-locations/">locations page</a> for updates as they become confirmed.</p> -->
				</div>
				<div class="medium-5 columns">
					<div class="green-buttons text-center medium-text-right">
						<a class="green-button" href="#" data-reveal-id="join-newsletter-modal">
							<img width="58" src="/img/template/newsletter-icon-1.svg" alt="Newsletter">
							<span class="text">2017/18 Newsletter</span>
							<i class="fa fa-angle-right"></i>
						</a>
						<a class="green-button" href="#" target="_blank">
							<img width="36" src="/img/template/facebook-icon-1.svg" alt="Facebook">
							<span class="text">VACSWIM Facebook</span>
							<i class="fa fa-angle-right"></i>
						</a><br>
					</div>
				</div>
			</div>

		</main>

	</div> <!-- .hero -->
</div> <!-- .homepage -->