---
layout: master
banner_header: "SA Water VACSWIM is a South Australian Government funded program for primary school aged children"
banner_link: /vacswim-locations/
---

{% assign settings = site.data.settings  %}
{% assign news = site.pages | where: "type", "news_item" %}

<div class="homepage">

	<div class="header-wrapper FixedTop">

	    <!-- HEADER -->
	    <header class="header">
	        {% include header.html %}
	    </header>

	    <!-- NAVIGATION -->
	    <nav class="navigation show-for-large-up">
	        <div class="row collapse outer-row">
	            <div class="columns">
	                <div class="topbar">
	                    {% include navigation.html %}
	                </div>
	            </div>
	        </div>
	    </nav> <!-- .navigation -->

	</div> <!-- .header-wrapper -->

	<!-- HERO -->
	<div class="hero">

	    <div class="row outer-row">
	        <div class="medium-6 medium-offset-6 large-5 large-offset-7 columns medium-text-right collapse-left">
	            <div class="hero-caption animated fadeInLeft">

					<h1>Waterproof <span class="bold-hero-text">Confidence</span></h1>
					<h2>4 - 12 January 2016</h2>
					<p>SA Water VACSWIM is a government funded initiative for children aged 5 to 16 yrs to develop their skills and confidence in and around water.</p>

	            	{% comment %}
	                <h1>{{ page.banner_header }}</h1>
	                <p><a href="{{ page.banner_link }}" class="button">
	                	<i class="icon-child"></i>
	                	Find your nearest VACSWIM location and book now!
	                	<i class="icon-angle-right"></i>
	                	</a>
	                </p>
	                <!--- Facebook Button -->
	                <a href="{{ settings.facebook }}" class="facebook-button show-for-small">
	                	<i class="icon-facebook"></i><span>Vacswim SA Facebook</span><i class="icon-angle-right"></i>
	                </a>
	                {% endcomment %}

	            </div>
	        </div> <!-- .columns -->
	    </div> <!-- .row -->

		<!-- MAIN -->
		<main class="main">

			<div class="row outer-row">
				<div class="medium-7 columns">
					<p>The main SA Water Vacswim 2016 program will kick off on Monday 4th January at beaches and pools around South Australia. Online enrolments will open on Thursday 1st October. To see if your favourite pool or beach is running on SA Water VACSWIM program check the <a href="/vacswim-locations/">Locations Page</a>.</p>
				</div>
				<div class="medium-5 columns">
					<div class="green-buttons text-center medium-text-right">
						<a class="green-button" href="#" data-reveal-id="join-newsletter-modal">
							<img width="255" src="/img/template/newsletter-button-text.svg" alt="2015/16 Newsletter">
						</a><br>
						<a class="green-button" href="#" target="_blank">
							<img width="255" src="/img/template/facebook-button-text.svg" alt="VACSWIM Facebook">
						</a>
					</div>
				</div>
			</div>
			{% comment %}
			<div class="row outer-row">
				<div class="medium-6 large-5 columns">
					<div class="news-module">
						<h2>Latest News</h2>
							{% for item in news | limit: 3 %}
							<article class="news-item">
								<p><date>{{ item.date | date: "%d %B %Y" }}</date><br>
								<a href="{{ item.url }}">{{ item.title | strip_html | truncate: 100 }}</a></p>
							</article>
							{% endfor %}
							<p class="text-right"><a class="more-btn" href="/news/">More News &nbsp;<i class="icon-angle-right"></i></a></p>
					</div> <!-- .news-module -->
				</div> <!-- .columns -->
				<div class="medium-6 large-5 large-offset-2 columns show-for-medium-up collapse-left">
					{% include facebook_widget.html %}
				</div> <!-- .columns -->
			</div> <!-- .row -->
			{% endcomment %}
		</main>

	</div> <!-- .hero -->
</div> <!-- .homepage -->