---
layout: master
---

{% assign hero_image_class = page.hero_image %}
{% assign hero_header = page.hero_header_override %}

<div class="internal {{ hero_image_class }}">

    <!-- HERO TOP -->
    <div class="hero-top"></div>

    <div class="header-wrapper FixedTop">

        <!-- HEADER -->
        <header class="header">
            {% include header.html %}
        </header>

        <!-- NAVIGATION -->
        <nav class="navigation show-for-large-up">
            <div class="row collapse outer-row">
                <div class="columns">
                    <div class="topbar">
                        {% include navigation.html %}
                    </div>
                </div>
            </div>
        </nav> <!-- .navigation -->

    </div> <!-- .header-wrapper -->

    <!-- HERO -->
    <section class="hero">
        <div class="hero-header">
            <div class="row outer-row">
                <div class="columns">
                    <div class="animated fadeInLeft">
                        <h1 class="left">
                            {% if hero_header %}{{ hero_header }}{% else %}{{ page.title }}{% endif %}
                        </h1>
                        <div class="green-social-buttons">
                            <ul class="lv-inline-list text-center">
                                <li>
                                    <a data-reveal-id="join-newsletter-modal" class="green-social-button" href="#">
                                        <img width="34" src="/img/template/newsletter-icon-full.svg" alt="Newsletter">
                                        <span class="text">Newsletter</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="green-social-button" href="{{ settings.facebook }}" target="_blank">
                                        <img width="34" src="/img/template/facebook-icon-full.svg" alt="Facebook">
                                        <span class="text">Facebook</span>
                                    </a>
                                </li>
                            </ul>
                        </div> <!-- .green-social-buttons -->
                    </div>
                </div> <!-- .columns -->
            </div> <!-- .row -->
        </div> <!-- .hero-header -->
    </section> <!-- .hero -->

    <!-- BREADCRUMBS -->
    <nav class="breadcrumbs-bar">
        <div class="row collapse outer-row">
            <div class="columns">
                {% include breadcrumbs.html %}
            </div> <!-- .columns -->
        </div> <!-- .row -->
    </nav> <!-- .breadcrumbs-wrapper -->

    <!-- CONTENT -->
    <div class="row outer-row">
        {{ content }}
    </div> <!-- .row -->

    <!-- HERO BOTTOM -->
    <div class="hero-bottom"></div>

</div> <!-- .internal -->