---
layout: internal
---

{% assign cities = site.data.locations %}

<!-- MAIN -->
<div class="columns">
    <main class="main">

        <p>Enrolments open Monday 8 September for 2015 VACSWIM. VACSWIM is only being offered to children aged 5 – 13 years.</p>
        <div class="divider"></div>

        <div class="location-rows section">

            <div class="row">
                <div class="medium-4 columns">
                    <p><strong>Program Dates</strong></p>
                </div>
                <div class="medium-8 columns">
                    <p>5th-13th January 2015 (Excluding Weekends)</p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row">
                <div class="medium-4 columns">
                    <p><strong>Program Operator</strong></p>
                </div>
                <div class="medium-8 columns">
                    <p><img src="http://placehold.it/400x100" alt="Image"></p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row">
                <div class="medium-4 columns">
                    <p><strong>Book Online</strong></p>
                </div>
                <div class="medium-8 columns">
                    <p><a class="button tiny radius" href="#">Click to book online</a></p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row">
                <div class="medium-4 columns">
                    <p><strong>Address</strong></p>
                </div>
                <div class="medium-8 columns">
                    <p>12 Nairne Road, Woodside</p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row">
                <div class="medium-4 columns">
                    <p><strong>Programs Offered</strong></p>
                </div>
                <div class="medium-8 columns">
                    <p><strong>Royal Life Saving</strong> - <a href="#">Swim &amp; Survive' Active Levels 1-7</a></p>
                    <p><em>Please be advised that the 2015 VACSWIM Program will not be offering the RLSS-SA Advanced and Senior Awards. These awards are offered direct and you can contact RLSS-SA <a href="tel:0882104500">(08) 8210 4500</a> for more information.</em></p>
                    <p>For program content, visit <a href="#">http://www.royallifesavingsa.com.au/</a></p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row">
                <div class="medium-4 columns">
                    <p><strong>Program Fees</strong></p>
                </div>
                <div class="medium-8 columns">
                    <!-- Price -->
                    <div class="row">
                        <div class="medium-2 columns">
                            <p>$30.00</p>
                        </div>
                        <div class="medium-10 columns">
                            <p>Enrolment Fee (plus $5 surcharge for onsite enrolments) Stages 1-7</p>
                        </div>
                    </div> <!-- .row -->
                    <!-- Price -->
                    <div class="row">
                        <div class="medium-2 columns">
                            <p>$25.50</p>
                        </div>
                        <div class="medium-10 columns">
                            <p>Equipment &amp; Location Fee; this fee covers any costs associated with pool entry, pool maintenance and cleaning, as well as hiring and/or transporting swimming/aquatic equipment to site. This cost varies from site to site and is applicable to each child enrolled in the program.</p>
                        </div>
                    </div> <!-- .row -->
                </div>
            </div>

            <div class="divider"></div>

        </div> <!-- location-rows -->

        <div class="section">
            {{ content }}
        </div>

     </main> <!-- .main -->
</div> <!-- .columns -->