---
layout: internal
---

{% assign cities = site.data.locations %}

<!-- MAIN -->
<div class="columns">
    <main class="main">

        <div class="section">
            {{ content }}
        </div>

        <!-- Accordion Module -->

        <dl class="accordion" data-accordion>
            {% for city in (cities) %}
                {% assign id = city.title | downcase | replace: ' ', '-' %}
                <dd class="accordion-navigation">
                    <a href="{{ id | prepend: "#"}}"><b>{{ city.title }}</b> <i class="icon-arrow-down"></i><i class="icon-arrow-up"></i></a>
                    <div id="{{ id }}" class="content">
                        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                        {% for school in city.schools  %}
                            <li><a href="{{ school.url }}">{{ school.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div> <!-- .content -->
                </dd> <!-- .accordion-navigation -->
            {% endfor %}
        </dl> <!-- .accordion -->

        <!-- ALL LOCATIONS - FLAT ALPHABETICAL LIST -->

        <dl class="accordion" data-accordion>
            <dd class="accordion-navigation">
                <a href="#all"><b>All Locations - Alphabetical List</b> <i class="icon-arrow-down"></i><i class="icon-arrow-up"></i></a>
                <div id="all" class="content">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                    {% for city in cities  %}
                        {% for school in city.schools | order: ascending %}
                            <li><a href="{{ school.url }}">{{ school.title }}</a></li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div> <!-- .content -->
            </dd> <!-- .accordion-navigation -->
        </dl> <!-- .accordion -->

    </main> <!-- .main -->
</div> <!-- .columns -->