<!DOCTYPE html>
<!--[if lt IE 8]>       <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lt IE 9]>       <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% comment %} BYO SEO Implementation {% endcomment %}
        {% if page.url == '/' or page.url == site.baseurl %}
            {{ site.data.settings.seo_title }}
        {% else %}
            {{ page.title }} - {{ site.data.settings.seo_title }}
        {% endif %}
    </title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

    <!-- Google Fonts CDN -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">

    <!-- build:css /assets/css/optimized.css -->
    <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="/css/jquery-mmenu-all.css">
    <link rel="stylesheet" href="/css/foundation/foundation.css">
    <link rel="stylesheet" href="/css/foundation-icons.css">
    <link rel="stylesheet" href="/css/icomoon-icons.css">
    <link rel="stylesheet" href="/css/liquidvisual/liquidvisual.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js /assets/scripts/priority-optimized.js -->
    <script src="/vendor/modernizr/modernizr.js"></script>
    <!-- endbuild -->

</head>
<body>
    <div class="lv-super developerX">
        <div class="lv-page">

            {{ content }}

            <!-- FOOTER -->
            <footer class="footer">
                {% include footer.html %}
            </footer>

        </div> <!-- .lv-page -->
    </div> <!-- .lv-super -->

    <!-- OFF-CANVAS MENU -->
    <nav id="off-canvas-menu" class="hide" aria-hidden="true">
        {% include navigation.html %}
    </nav>

    <!--[if lt IE 9]>
    <div class="lv-alert lv-unselectable">
        <p>Your browser is out of date. Please <a href="http://outdatedbrowser.com">upgrade</a> to experience more of the web.</p>
        <span class="close-btn">&times;</span>
    </div>
    <![endif]-->

    <!-- ***** JAVASCRIPT ***** -->

    <!-- build:js /assets/scripts/optimized.js -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/vendor/fastclick/lib/fastclick.js"></script>
    <script src="/vendor/nprogress/nprogress.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="/vendor/foundation/js/foundation/foundation.abide.js"></script>
    <script src="/scripts/jquery-mmenu-min-all.js"></script>

    {% comment %}
        NOTE: These files are only here for future reference. Do not include in markup.

      ** LIBS **
        <script src="/vendor/jquery.scrollTo/jquery.scrollTo.min.js"></script>
        <script src="/vendor/WOW/dist/wow.min.js"></script>
        <script src="/scripts/legacy/jquery-1.11.1.min.js"></script>
        <script src="/vendor/fastclick/lib/fastclick.js"></script> <-- this conflicts with animations

      ** FOUNDATION 5 **
        <script src="/vendor/bxSlider/jquery.bxslider.min.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.abide.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.accordion.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.alert.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.clearing.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.dropdown.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.equalizer.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.interchange.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.joyride.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.magellan.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.offcanvas.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.reveal.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.slider.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.tab.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.tooltip.js"></script>
        <script src="/vendor/foundation/js/foundation/foundation.topbar.js"></script>
    {% endcomment %}

    <script src="/scripts/main.js"></script>
    <!-- endbuild -->

    <script>
        $(document).foundation();

        $(function() {
            $("#off-canvas-menu").mmenu({
               "offCanvas": {
                  "position": "right"
               }
            });


            var touchEvent = $('.touch').length ? 'touchstart' : 'click';

            $(".hamburger").css("visibility", "visible").bind(touchEvent, function() { $("#off-canvas-menu").trigger("open.mm"); });
         });
    </script>

    <!-- Google Analytics Here -->

    <!-- No Javascript Warning -->
    <noscript>
        <div class="lv-alert lv-unselectable">
            <p>Your browser has Javascript disabled. Some features may be limited.</p>
            <span class="close-btn hide">&times;</span>
        </div>
    </noscript>

</body>
</html>