---
layout: internal
hero_header_override: News
breadcrumbs: true
---

{% assign stubbed_image_url = "http://lorempixel.com/400/300/nature" %}

<!-- MAIN -->
<div class="columns">
    <main class="main">

        <article class="news-item">
            <div class="row">
                <div class="medium-8 columns">
                    <h1>{{ page.title }}</h1>
                    <p class="tagline">{{ page.date | date: "%d %B %Y" }}</p>
                    {{ content }}
                    <!-- Hardcoded -->
                    <br>
                    <p><strong><a href="#">Teach your child water safety - SA Water VACSWIM, water safety and water survival</a> - it's the holiday fun thing to do!</strong></p>
                </div>
                <div class="medium-4 columns">
                    <p><img src="{{ stubbed_image_url }}" alt="..."></p>
                </div>
            </div>
        </article>

        <hr>

        <!-- Pagination Controls -->
        <p class="left"><a href="#"><i class="icon-angle-left"></i>&nbsp; Previous</a></p>
        <p class="right"><a href="#">Next &nbsp;<i class="icon-angle-right"></i></a></p>

    </main> <!-- .main -->
</div> <!-- .columns -->