---
layout: internal
---

{% comment %}
    STUBBED DATA BELOW AS GUIDE:
    * Assigned vars - Denote Single Text Fields / Media / URLS
    * Captured vars - Denote Rich Text Fields / Data
{% endcomment %}

{% assign settings = site.data.settings %}
{% assign stubbed_image_url = "http://placehold.it/246x200/" %}

{% capture supporter_text %}
    <p>The YMCA of South Australia is this state's FIRST community organisation. Established in 1850, they were also the FIRST YMCA in Australia and the First YMCA established outside London where the YMCA was founded by George Williams in 1844. The YMCA's of Australia work together from a base of Christian values to provide opportunities for all people to grow in body, mind and spirit.</p>
    <p>YMCA of South Australia; <a href="http://www.sa.ymca.org.au">www.sa.ymca.org.au</a></p>
{% endcapture %}

{% comment %} --------------------- BEGIN TEMPLATE --------------------- {% endcomment %}

<!-- MAIN -->
<div class="medium-8 columns">
    <main class="main">

        {{ content}}

        <h2>Supported by</h2>
        <hr>

        {% for i in (1..2) %}
        <div class="row">
            <div class="medium-3 columns">
                <p><img width="100%" src="{{ stubbed_image_url }}" alt=""></p>
            </div>
            <div class="medium-9 columns">
               {{ supporter_text }}
            </div>
        </div>
        <hr>
        {% endfor %}

        <h2>Sponsored by</h2>
        <hr>

        {% for i in (1..2) %}
        <div class="row">
            <div class="medium-3 columns">
                <p><img width="100%" src="{{ stubbed_image_url }}" alt=""></p>
            </div>
            <div class="medium-9 columns">
               {{ supporter_text }}
            </div>
        </div>
        <hr>
        {% endfor %}

        <p><strong><em>SA Water VACSWIM - cheap swimming, water safety, water survival lessons. Learn to swim with VACSWIM - it's the holiday fun thing to do!</em></strong></p>

    </main> <!-- .main -->
</div> <!-- .columns -->

<!-- SIDEBAR -->
<div class="medium-4 columns">
    {% include sidebar.html %}
</div>