/*
    BREADCRUMBS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.breadcrumbs-bar {
	background: $silk;
	margin-bottom: $vertical-spacing * 2;
}

.breadcrumbs {
	margin-bottom: 0;
}

//=========================================
//
//=========================================