/*
    BUTTONS.CSS

    - Last updated: 21.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Green Buttons
// Part of the refresh - contains clip-art svgs - single use only
//-----------------------------------------------------------------

.green-buttons {
	padding-top: rem-calc(30);

	@media #{$medium-up} {
	    padding-top: 0;
	}

	.green-button:first-of-type {
		margin-bottom: rem-calc(15);
	}
}

.green-button {
	display: inline-block;
	background: $quaternary-color;
	padding: rem-calc(5 15);
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.50);

	&:hover {
		@media #{$large-up} {
		    background: lighten($quaternary-color, 5%);
		}
	}
}

//-----------------------------------------------------------------
// Green Social Buttons
//-----------------------------------------------------------------

.green-social-buttons {
	position: relative;

	@media #{$medium-up} {
	    float: right;
	}

	@media #{$large-up} {
	    top: rem-calc(8);
	}
}

.green-social-button {
	text-align: center;

	img {
		@include transition('all');
	}

	&:hover img {
		@media #{$large-up} {
			-webkit-transform: scale(1.1);
			   -moz-transform: scale(1.1);
			    -ms-transform: scale(1.1);
			     -o-transform: scale(1.1);
			        transform: scale(1.1);
		}
	}

	.text {
		display: block;
		color: white;
	}
}

//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.hero .facebook-button {
	// @extend .transition;
	@include transition();
	position: relative;
	display: block;
	margin-bottom: rem-calc(40);
	background: #3A5796;
	color: white;
	padding: rem-calc(20 50 20 10);
	font-size: rem-calc(18);
	text-align: right;

	span {
		// text-align: right;
		// display: block;
	}
}

.hero .facebook-button i {
	font-size: rem-calc(30);
	position: absolute;
	top: 50%;
	line-height: 0;
}

.hero .facebook-button .icon-facebook {
	left: rem-calc(15);
}

.hero .facebook-button .icon-angle-right {
	right: rem-calc(20);
	font-size: rem-calc(40);
}

.no-touch .hero .facebook-button:hover {
	color: black;
}

//=========================================
// Enroll Button
//=========================================

.lv-super .enroll-button {
	margin-bottom: rem-calc(0);
	text-align: left;
	padding-left: rem-calc(60);
	padding-right: rem-calc(30);
	font-size: rem-calc(14);
}

.enroll-button i {
	position: absolute;
	font-size: rem-calc(35);
	line-height: 0;
}

.enroll-button .icon-book {
	top: 50%;
	left: 10px;
}

.enroll-button .icon-angle-right {
	right: 10px;
	top: 50%;
}

//=========================================
//
//=========================================