/*
    BUTTONS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.hero .facebook-button {
	// @extend .transition;
	@include transition();
	position: relative;
	display: block;
	margin-bottom: rem-calc(40);
	background: #3A5796;
	color: white;
	padding: rem-calc(20 50 20 10);
	font-size: rem-calc(18);
	text-align: right;

	span {
		// text-align: right;
		// display: block;
	}
}

.hero .facebook-button i {
	font-size: rem-calc(30);
	position: absolute;
	top: 50%;
	line-height: 0;
}

.hero .facebook-button .icon-facebook {
	left: rem-calc(15);
}

.hero .facebook-button .icon-angle-right {
	right: rem-calc(20);
	font-size: rem-calc(40);
}

.no-touch .hero .facebook-button:hover {
	color: black;
}

//=========================================
// Enroll Button
//=========================================

.lv-super .enroll-button {
	margin-bottom: rem-calc(0);
	text-align: left;
	padding-left: rem-calc(60);
	padding-right: rem-calc(30);
	font-size: rem-calc(14);
}

.enroll-button i {
	position: absolute;
	font-size: rem-calc(35);
	line-height: 0;
}

.enroll-button .icon-book {
	top: 50%;
	left: 10px;
}

.enroll-button .icon-angle-right {
	right: 10px;
	top: 50%;
}

//=========================================
//
//=========================================