/*
    FORMS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

/* Added by Jono */
.form-success {
    padding: rem-calc(12 20 12 20);
    margin: rem-calc(0 0 20 0);
    background-color: #99c305;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
}

/* Needed for Umbraco */
form#ctl04 .error {
	position: relative;
	top: -20px;
	margin-bottom: 0;
}

//=========================================
//
//=========================================