/*
    SOCIAL-NETWORKS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.social-networks {
	margin: 0;
}

.social-networks li {
	display: inline-block;
	margin-right: rem-calc(5);
}

.social-networks li a,
.social-networks a {
	@include transition();
	width: 33px;
	height: 33px;
	text-align: center;
	color: white !important;
	font-size: rem-calc(20); //rem-calc(23);
	line-height: 33px;
	display: inline-block;
	background: $tertiary-color;
	border-radius: 100%;

	&:hover {
		@media #{$large-up} {
		    background: darken($primary-color, 5%);
		}
	}
}

.social-networks .facebook {
	background: #375493;

	&:hover {
		background: darken(#375493, 10%);
	}
}

.social-networks .instagram {
	background: #b72f95;

	&:hover {
		background: darken(#b72f95, 10%);
	}
}

.social-networks .twitter {
	background: #56CBFE;

	&:hover {
		background: darken(#56CBFE, 10%);
	}
}

.social-networks .google-plus {
	background: #dd4b39;

	&:hover {
		background: darken(#dd4b39, 10%);
	}
}

//-----------------------------------------------------------------
// Context
//-----------------------------------------------------------------

.header .social-networks {
	position: relative;
	top: 70px;
}

//-----------------------------------------------------------------
// Facebook Widget
//-----------------------------------------------------------------

.facebook-widget {
	background: white;
	// margin-bottom: rem-calc(20);

	.facebook-widget-header {
		background: #3A5796;
		width: 100%;
		color: white;
		padding: rem-calc(5 10);
		text-align: left;
		font-size: rem-calc(18);
	}
}

//=========================================
//
//=========================================