/*
    SOCIAL-NETWORKS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.social-networks {
	margin: 0;
}

.social-networks li {
	display: inline-block;
	margin-right: rem-calc(5);
}

.social-networks a {
	// @extend .transition;
	@include transition();
	width: 33px;
	height: 33px;
	text-align: center;
	color: white;
	font-size: rem-calc(23);
	line-height: 36px;
	display: block;
}

.social-networks .facebook a {
	background: #375493;

	&:hover {
		background: darken(#375493, 10%);
	}
}

.social-networks .twitter a {
	background: #56CBFE;

	&:hover {
		background: darken(#56CBFE, 10%);
	}
}

//-----------------------------------------------------------------
// Facebook Widget
//-----------------------------------------------------------------

.facebook-widget {
	background: white;
	// margin-bottom: rem-calc(20);

	.facebook-widget-header {
		background: #3A5796;
		width: 100%;
		color: white;
		padding: rem-calc(5 10);
		text-align: left;
		font-size: rem-calc(18);
	}
}

//=========================================
//
//=========================================