/*
    HERO.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.hero,
.hero-top,
.hero-bottom {
	background-repeat: no-repeat;
    background-position: center top;
    // background-color: #AFC3C1;
    overflow: hidden;

    -webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.hero-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: rem-calc(20);
}

.hero-bottom {
	position: relative;
	height: rem-calc(45);
}

/* That subtle tinted green effect */
.hero-bottom:after {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 1rem;
	background: rgba($primary-color, .8);
}

//-----------------------------------------------------------------
// Hero Homepage
//-----------------------------------------------------------------

.homepage .hero {
	padding-top: $vertical-spacing;
	background-image: url(../img/template/homepage-hero-summer.jpg);
	background-repeat: no-repeat;
	background-size: 1200px;
	background-position: 100% 0;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;

	@media #{$medium-up} {
		// background-position: 70% -50px;
		background-position: 60% 0;
	}

	@media #{$large-up} {
		padding-top: $header-height-medium + $navigation-height + ($vertical-spacing * 2);
		// background-position: top center;
		background-position: 40% top;
	}
}

//-----------------------------------------------------------------
// Hero Caption
//-----------------------------------------------------------------

.homepage .hero-caption {
	padding: rem-calc(20 0);
}

//-----------------------------------------------------------------
// H1
//-----------------------------------------------------------------

.homepage .hero h1 {
	font-size: rem-calc(35);
	font-weight: 300;
	line-height: 1;

	@media #{$medium-up} {
		font-size: rem-calc(55);
	}

	// "Confidence"
	.bold-hero-text {
		display: block;
		font-size: rem-calc(40);
		font-weight: bold;
		color: $quaternary-color;

		@media #{$medium-up} {
		    font-size: rem-calc(65);
		}
	}
}

//=========================================
// H2 (date)
//=========================================

.homepage .hero-caption h2 {
	font-size: rem-calc(24);
	font-weight: bold;
	margin-bottom: rem-calc(30);

	@media #{$medium-up} {
	    font-size: rem-calc(30);
	}
}

//=========================================
// Paragraph
//=========================================

.homepage .hero-caption p {
	font-size: rem-calc(22);
	color: $primary-color;
	line-height: 1.2;
}

//=========================================
// Button
//=========================================

.homepage .hero .button {
	// @extend .transition;
	@include transition();
	position: relative;
	display: block;
	padding: rem-calc(20 20 65 75);
	background: rgba($white, 0.8);
	font-size: rem-calc(18);
	font-weight: 600;
	line-height: 1.2;
	color: #052A32;
	text-align: right;
	margin: rem-calc(40 0 0 0);

	@media #{$large-up} {
		font-size: rem-calc(22);
		margin: rem-calc(20 0);
	}
}

.no-touch .homepage .hero .button:hover {
	color: #3B6871;
}

.homepage .hero .button .icon-child {
	position: absolute;
	bottom: rem-calc(10);
	left: rem-calc(10);
	font-size: rem-calc(95);
	z-index: 1;
}

.homepage .hero .button .icon-angle-right {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: rem-calc(44);
	line-height: rem-calc(44);
	padding: rem-calc(0 20);
	display: block;
	font-size: rem-calc(42);
	background: rgba($white, 0.8);
}

//=========================================
// Hero Internal - and Backgrounds
//=========================================

.internal .hero {
	position: relative;
	height: rem-calc(327);

	@media #{$small-only} {
		background-size: 800px;
		height: rem-calc(144 + 65);
	}
}

/* These are classes applied to the internal template */
$backgrounds: kids-carrying-surfboard, instructors, cpr, kids-in-pool, beach-games, kids-on-boards, kids-in-pool-02, kids-in-pool-closeup;

/* Loop through available backgrounds */
@each $image in $backgrounds {
  .internal.#{$image} {
	.hero-top { background-image: url('../img/template/#{$image}-top.jpg'); }
	.hero { background-image: url('../img/template/#{$image}.jpg'); }
	.hero-bottom { background-image: url('../img/template/#{$image}-bottom.jpg'); }
  }
}

//=========================================
// Hero Header
//=========================================

.internal .hero-header {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: rem-calc(15 0 0 0);
	background: $primary-color;

	@media #{$large-up} {
		background: rgba($primary-color, .8);
		padding: rem-calc(10 0);
	}
}

.internal .hero-header h1 {
	color: white;
	// font-size: rem-calc(40);
	font-weight: 300;
	text-transform: capitalize;

	@media #{$medium-up} {
		font-size: rem-calc(40);
	}
}

//=========================================
//
//=========================================