/*
    MODULES.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.location-rows .row {
	padding-top: rem-calc(10);
}

.location-rows .medium-4 {
	// text-align: right;
}

.location-rows .divider {
	border-bottom: 1px solid #DEDEDE;
}

.location-rows .columns {

}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.news-module {
	h2 {
		color: white;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		padding: rem-calc(0 0 10 0);
		margin: rem-calc(0 0 10 0);
		line-height: 1;
	}

	.more-btn {
		color: white;
	}

	.news-item {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin-bottom: rem-calc(10);

		p {
			margin-bottom: rem-calc(10);
		}
		a {
			color: #04CFE5;
		}
		date {
			color: #869496;
		}
	}
}

.news-item .img {
	display: block;
	margin-bottom: $vertical-spacing;

	img {
		width: 100%;
	}

	@media #{$medium-up} {
		margin-bottom: 0;
	}
}

//=========================================
//
//=========================================