@import "foundation/settings";
/*
    MAIN.CSS

    - Last updated: 29.09.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Global
//-----------------------------------------------------------------

$header-height-small: rem-calc(109);
$header-height-medium: rem-calc(133); //rem-calc(146);
$header-background-color: white;
$navigation-height: rem-calc(60);
$banner-background-color: #1B9AED;
$banner-button-background-color: $button-bg-color;
$footer-height: rem-calc(74);
$page-padding: rem-calc(40);
$dark-green: #041B20;
$vertical-spacing: rem-calc(20);

//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

/* Reduce overall size on mobile */
html, body {
	@media #{$small-only} {
		// font-size: 90%;
	}
}

//=========================================
// Snap Grid
//
// Tells grid to "snap" into each breakpoint.
// Removes issue of seeing elements super large
// before falling into place naturally.
//
// Notes:
// 5.000em = 80 (page-padding * 2)
// Using EMs because media queries in Foundation do so
//=========================================

.row {
	@media #{$medium-up}  { max-width: upper-bound($medium-range)  + 5.000em; }
	@media #{$large-up}   { max-width: upper-bound($large-range)   + 5.000em; }
	@media #{$xlarge-up}  { max-width: upper-bound($xlarge-range)  + 5.000em; }
	@media #{$xxlarge-up} { max-width: upper-bound($xxlarge-range) + 5.000em; }
}

/* Add side padding to the page above small */
.outer-row {
	@media #{$medium-up} {
		padding-left: $page-padding - $column-gutter / 2;
		padding-right: $page-padding - $column-gutter / 2;
	}
}

/* Collapse left for banner h1 */
.collapse-left {
	@media #{$medium-up} {
		padding-left: 0;
	}
}

/*  Ensure images scale to block grid LIs */
ul[class*='block-grid'] li img {
	width: 100%;
}

/* Prevent Flickering in Webkit */
h1, h2, h3, h4, h5, h6, p, a {
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	     -o-transform: translateZ(0);
	        transform: translateZ(0);
}

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header Wrapper (Control over Header AND Navigation)
//-----------------------------------------------------------------

.header-wrapper {
	border-top: $vertical-spacing solid #37585D;
	z-index: 1;

	@media #{$large-up} {
		position: absolute;
		border-color: transparent;
		width: 100%;
	}
}

.internal .header-wrapper {
	position: relative;
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.header {
	position: relative;
	height: $header-height-small;
	background: $header-background-color;

	@media #{$medium-up} {
		height: $header-height-medium;
	}

	@media #{$large-up} {
		box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
	}
}

.header .logo {
	position: relative;
	top: rem-calc(20);

	img {
		width: rem-calc(175);

		@media #{$medium-up} {
			width: rem-calc(210);
		}

		@media #{$large-up} {
			width: rem-calc(268);
		}
	}

	@media #{$medium-up} {
		top: rem-calc(25);
	}

	@media #{$large-up} {
		top: rem-calc(15);
	}
}

.header .affiliate-logo {
	position: relative;
	top: rem-calc(26);
}

//=========================================
// Hamburger
//=========================================

.hamburger {
	position: absolute;
	visibility: hidden;
	bottom: rem-calc(0); /* magic num */
	right: 0;
	display: block;
	width: rem-calc(28);
	height: rem-calc(24);
	margin: rem-calc(30);
	z-index: 2;

	@media #{$medium-up} {
		bottom: rem-calc(4);
	}
}

.hamburger:before,
.hamburger:after,
.hamburger span {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: rem-calc(4);
	background: $dark-green;
}
.hamburger:before {
	top: 0;
}
.hamburger:after {
	bottom: 0;
}
.hamburger span {
	top: 50%;
	margin-top: rem-calc(-2);
}

html.mm-opening .hamburger:before,
html.mm-opening .hamburger:after {
	display: none;
}

//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.navigation {
	position: absolute;
	top: auto;
	width: 100%;
	background: rgba($dark-green, .8);
	z-index: 1;
}

.topbar ul {
	margin-bottom: 0;
	font-size: rem-calc(13);
}

.topbar li {
	display: inline-block;
	float: left;
}

.topbar a {
	@extend .transition;
	display: block;
	padding: rem-calc(10 15);
	margin: rem-calc(10 0);
	color: white;
	font-weight: 500;
	font-smoothing: none;
}

.topbar a:active,
.topbar .active > a {
	background: $dark-green;
}

.no-touch .topbar a:hover {
	background: #3B6871;
}

//=========================================
// Nested Dropdowns
//=========================================

.topbar .has-dropdown:hover > a {
	background: #3B6871;
}

/* UX decision, dropdowns are fiddly on tablets */
.no-touch .topbar .has-dropdown:hover > .dropdown {
	opacity: 1;
	height: auto;
	overflow: visible;
}

.no-touch .topbar .dropdown .has-dropdown:hover > .dropdown {
	opacity: 1;
	height: auto;
}

.topbar .dropdown {
	@extend .transition;
	position: absolute;
	opacity: 0;
	height: 0; // so hit areas aren't triggered
	overflow: hidden; // so hit areas aren't triggered
	top: 50px;
	left: auto;
	width: rem-calc(300);
	background: #3B6871;
	margin: 0;
}

/* Third level nesting */
.topbar .dropdown .dropdown {
	position: absolute;
	top: 0;
	left: 100%;
}

.topbar .dropdown li {
	position: relative;
	float: none;
	display: block;
}

.topbar .dropdown a {
	border-bottom: 1px solid rgba(255,255,255,.1);
	margin: 0;
}

.topbar .dropdown li:last-child a {
	border-bottom: 0;
}

.topbar .dropdown a:hover {
	background: #4A757E;
}

//-----------------------------------------------------------------
// Off Canvas Menu
//-----------------------------------------------------------------

.navigation .facebook {
	display: none;
}

#off-canvas-menu .facebook {
	i {
		font-size: rem-calc(20);
		line-height: 40px;
	}

	span {
		display: inline-block;
		width: 40px;
		background: #0F363C;
		text-align: center;
	}

	&:after {
		border: 0;
	}
}

#off-canvas-menu {
	// background: #161E1F;
}

#off-canvas-menu .mm-list a.mm-subopen::before,
#off-canvas-menu .mm-list > li:after {
	// border-color: #272E2F;
}

#off-canvas-menu li a {
	//color: darken($white, 15%);
	//font-size: 1rem;
	// padding-top: rem-calc(12);
	// padding-bottom: rem-calc(12);
	// line-height: 44px;
}

//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.hero,
.hero-top,
.hero-bottom {
	background-repeat: no-repeat;
    background-position: center top;
    background-color: #AFC3C1;
    overflow: hidden;

    -webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.hero-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: rem-calc(20);
}

.hero-bottom {
	position: relative;
	height: rem-calc(45);
}

/* That subtle tinted green effect */
.hero-bottom:after {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 1rem;
	background: rgba($dark-green, .5);
}

//=========================================
// Hero Homepage
//=========================================

.homepage .hero {
	padding-top: $vertical-spacing;
	background-image: url(../img/template/homepage-hero.jpg);
	background-size: 1200px;
	background-position: 90% top;

	@media #{$medium-up} {
		background-position: 70% -50px;
	}

	@media #{$large-up} {
		padding-top: $header-height-medium + $navigation-height + ($vertical-spacing * 2);
		background-position: top center;

		-webkit-background-size: cover;
		   -moz-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
	}
}

.homepage .hero h1 {
	font-size: rem-calc(25);
	font-weight: 300;
	color: white;
	line-height: 1.2;
	margin-bottom: $vertical-spacing;

	@media #{$large-up} {
		font-size: rem-calc(29);
	}
}

.homepage .hero .button {
	@extend .transition;
	position: relative;
	display: block;
	padding: rem-calc(20 20 65 75);
	background: rgba($white, 0.8);
	font-size: rem-calc(18);
	font-weight: 600;
	line-height: 1.2;
	color: #052A32;
	text-align: right;
	margin: rem-calc(40 0 0 0);

	@media #{$large-up} {
		font-size: rem-calc(22);
		margin: rem-calc(20 0);
	}
}

.no-touch .homepage .hero .button:hover {
	color: #3B6871;
}

.homepage .hero .button .icon-child {
	position: absolute;
	bottom: rem-calc(10);
	left: rem-calc(10);
	font-size: rem-calc(95);
	z-index: 1;
}

.homepage .hero .button .icon-angle-right {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: rem-calc(44);
	line-height: rem-calc(44);
	padding: rem-calc(0 20);
	display: block;
	font-size: rem-calc(42);
	background: rgba($white, 0.8);
}

//=========================================
// Hero Internal - and Backgrounds
//=========================================

.internal .hero {
	position: relative;
	height: rem-calc(327);

	@media #{$small-only} {
		background-size: 800px;
		height: rem-calc(144 + 65);
	}
}

/* These are classes applied to the internal template */
$backgrounds: kids-carrying-surfboard, instructors, cpr, kids-in-pool, beach-games;

/* Loop through available backgrounds */
@each $image in $backgrounds {
  .internal.#{$image} {
	.hero-top { background-image: url('../img/template/#{$image}-top.jpg'); }
	.hero { background-image: url('../img/template/#{$image}.jpg'); }
	.hero-bottom { background-image: url('../img/template/#{$image}-bottom.jpg'); }
  }
}

//=========================================
// Hero Header
//=========================================

.internal .hero-header {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: rem-calc(15 0 0 0);
	background: #0E363C;

	@media #{$large-up} {
		background: rgba($dark-green, .5);
		padding: rem-calc(10 0);
	}
}

.internal .hero-header h1 {
	color: white;
	// font-size: rem-calc(40);
	font-weight: 300;
	text-transform: capitalize;

	@media #{$medium-up} {
		font-size: rem-calc(40);
	}
}

//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.breadcrumbs-bar {
	background: $silk;
	margin-bottom: $vertical-spacing * 2;
}

.breadcrumbs {
	margin-bottom: 0;
}

//-----------------------------------------------------------------
// Content
//-----------------------------------------------------------------

.homepage .main {
	padding: rem-calc(40 0);
	background: #0E363C;

	@media #{$large-up} {
		padding: rem-calc(20 0);
		background: rgba($dark-green, .8);
		margin-bottom: rem-calc(45);
	}
}

.internal .main {
	margin-bottom: rem-calc(50);
}

//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

.section {
	margin-bottom: rem-calc(30);
}

//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------

.sidebar {
	margin-bottom: rem-calc(50);
}

.sidebar .advertisements {
	color: #bbb;
}

.side-nav a {
	@extend .transition;
	background: #E9E7E7;
}

.side-nav .nested a {
	background: #F3F3F3;
}

.side-nav li.active a {
	background: #D8D7D7;
	font-weight: bold !important; /* F5 doesn't have access to BG?? */
}

//-----------------------------------------------------------------
// Media Object
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------

.location-rows .row {
	padding-top: rem-calc(10);
}

.location-rows .medium-4 {
	// text-align: right;
}

.location-rows .divider {
	border-bottom: 1px solid #DEDEDE;
}

.location-rows .columns {

}

//=========================================
// News Module
//=========================================

.news-module {
	h2 {
		color: white;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		padding: rem-calc(0 0 10 0);
		margin: rem-calc(0 0 10 0);
		line-height: 1;
	}

	.more-btn {
		color: white;
	}

	.news-item {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin-bottom: rem-calc(10);

		p {
			margin-bottom: rem-calc(10);
		}
		a {
			color: #04CFE5;
		}
		date {
			color: #869496;
		}
	}
}

.news-item .img {
	display: block;
	margin-bottom: $vertical-spacing;

	img {
		width: 100%;
	}

	@media #{$medium-up} {
		margin-bottom: 0;
	}
}

//=========================================
// Accordion Module
//=========================================

.accordion-navigation > a {
	position: relative;
	border-radius: $global-radius;
	margin-bottom: $vertical-spacing;
}

.accordion-navigation i {
	position: absolute;
	top: 50%;
	right: rem-calc(15);
	font-size: rem-calc(34);
	line-height: 0;
	color: #D1E2E8;
}

/* Up/Down Arrows */
.accordion-navigation.active .icon-angle-down {
	display: none;
}

.accordion-navigation.active .icon-angle-up {
	display: block;
	top: 45%;
}

.accordion-navigation .icon-angle-up {
	display: none;
}

//=========================================
// Facebook Widget
//=========================================

.facebook-widget {
	background: white;
	// margin-bottom: rem-calc(20);

	.facebook-widget-header {
		background: #3A5796;
		width: 100%;
		color: white;
		padding: rem-calc(5 10);
		text-align: left;
		font-size: rem-calc(18);
	}
}

//=========================================
//
//=========================================
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.footer {
	.footer-body {
	    padding: rem-calc(40 0 30 0);
	    background: white;

	    h3 {
			color: #5d7679;
			border-bottom: 1px solid #E0E0E0;
			padding-bottom: rem-calc(10);
			margin-bottom: rem-calc(10);
		}
	}

	.footer-bottom {
		background: $silk;
		padding: rem-calc(15 0);

		p {
			margin-bottom: 0;
			font-size: rem-calc(12);
		}
		a {
			color: #444;
		}
	}

	@media #{$large-up} {
		box-shadow: 0 -4px 4px -2px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
}

//=========================================
// Sponsor List
//=========================================

.medium-block-grid-9 li {
	vertical-align: middle;
}

.sponsor-list {
	margin-bottom: $vertical-spacing;
}

.sponsor-list > li > a {
	height: 90px;
	display: table;
}

.sponsor-list .img {
	display: table-cell;
	vertical-align: middle;
}

//=========================================
// Author Logo
//=========================================

.footer .author-logo {
	color: #b3b2b2;

	.text {
		position: relative;
		top: rem-calc(2);
		display: inline-block;
		margin-right: rem-calc(5);
	}
}

.no-touch .footer .author-logo:hover {
	@extend .transition;
	color: darken(#b3b2b2, 10%);
}

//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Template Buttons
//-----------------------------------------------------------------

.hero .facebook-button {
	@extend .transition;
	position: relative;
	display: block;
	margin-bottom: rem-calc(40);
	background: #3A5796;
	color: white;
	padding: rem-calc(20 50 20 10);
	font-size: rem-calc(18);
	text-align: right;

	span {
		// text-align: right;
		// display: block;
	}
}

.hero .facebook-button i {
	font-size: rem-calc(30);
	position: absolute;
	top: 50%;
	line-height: 0;
}

.hero .facebook-button .icon-facebook {
	left: rem-calc(15);
}

.hero .facebook-button .icon-angle-right {
	right: rem-calc(20);
	font-size: rem-calc(40);
}

.no-touch .hero .facebook-button:hover {
	color: black;
}

//=========================================
//
//=========================================

.lv-super .enroll-button {
	margin-bottom: rem-calc(0);
	text-align: left;
	padding-left: rem-calc(60);
	padding-right: rem-calc(30);
	font-size: rem-calc(14);
}

.enroll-button i {
	position: absolute;
	font-size: rem-calc(35);
	line-height: 0;
}

.enroll-button .icon-book {
	top: 50%;
	left: 10px;
}

.enroll-button .icon-angle-right {
	right: 10px;
	top: 50%;
}

//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Tooltips
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Animations
//-----------------------------------------------------------------

.transition {
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	        transition: all .2s linear;

	-webkit-transition-property: opacity, color, background;
	   -moz-transition-property: opacity, color, background;
	     -o-transition-property: opacity, color, background;
	    -ms-transition-property: opacity, color, background;
            transition-property: opacity, color, background;
}

//-----------------------------------------------------------------
// Special / Misc - Refactor Later
//-----------------------------------------------------------------

.notice {
	color: $alert-color;
}

.lv-super label {
	margin-bottom: 0;
}

.lv-super .right-for-medium {
	@media #{$medium-up} {
		float: right;
	}
}

.primary-color {
	color: $primary-color;
}

//-----------------------------------------------------------------
// IE8
//-----------------------------------------------------------------

.lt-ie9 .lv-page {
	display: none;
}

//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------
//=========================================
//
//=========================================